<section class="featured-section">
    <div class="my-container">
        <div class="title disp-flex cards-title cb">
            <a class="video-section-link" href="#">
                <p class="text-u">featured</p>
            </a>
            <a class="video-section-link" href="video.html">
                <p class="">view all featured media</p>
            </a>
        </div>
        <div class="featured-section-parrent-div disp-flex just-sb">
            <div class="featured-div-box wid-100 pos-relative">
                <h2 class="featured-box-title text-trans-u">responsive web design</h2>
                <div class="featured-div-box-child disp-flex">
                    <img src="../../../assets/images/featured-section/responsive.png" alt="responsive">
                    <p>approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation.</p>
                </div>
                <button id="leftBnt" class="pos-absolute read-more-btn text-trans-c">read more</button>
            </div>
            <div class="featured-div-box wid-100 pos-relative">
                <h2 class="featured-box-title text-trans-u">app development</h2>
                <div class="featured-div-box-child disp-flex">
                    <img src="../../../assets/images/featured-section/app-development.png" alt="app design">
                    <p>Mobile application development is the process of making or creating a mobile application to run on various mobile platforms. A mobile platform is a mobile operating system.</p>
                </div>
                <button id="rightBtn" class="pos-absolute read-more-btn text-trans-c">read more</button>
            </div>
        </div>
    </div>
</section>