<div class="social-icons disp-flex">
    <div class="social-box"><a href="#"><img src="../../../../assets/images/icons/google+.svg" alt="google+" class="social-img"></a></div>
    <div class="social-box"><a href="#"><img src="../../../../assets/images/icons/facebook.svg" alt="facebook" class="social-img"></a></div>
    <div class="social-box"><a href="#"><img src="../../../../assets/images/icons/youtube.svg" alt="youtube" class="social-img"></a></div>
    <div class="social-box"><a href="#"><img src="../../../../assets/images/icons/search.svg" alt="search" class="social-img"></a></div>
</div>