<section class="video-section">
    <div class="my-container">
        <div class="title disp-flex cw">
            <a class="video-section-link" href="#">
                <p class="text-u">Videos</p>
            </a>
            <a class="video-section-link" href="video.html">
                <p class="">view all videos</p>
            </a>
            
        </div>
        <div class="textbox-parrent disp-flex just-c align-c text-bold">
            <div class="text-box wid-100 bgc-white disp-flex just-c align-c">
               <app-temporaty></app-temporaty>
            </div>
            
        </div>
    </div>
</section>