<div class="nav-div text-trans-u">
    <nav class="nav">
        <ul class="nav-ul disp-flex">
            <a href="index.html" class="nav-a active">
                <li class="nav-li">home</li>
            </a>
            <a href="news.html" class="nav-a">
                <li class="nav-li">news</li>
            </a>
            <a href="#" class="nav-a">
                <li class="nav-li">about</li>
            </a>
            <a href="#" class="nav-a">
                <li class="nav-li">contact</li>
            </a>
        </ul>
    </nav>
</div>