<div class="nav-div text-trans-u">
    <nav class="nav">
        <ul class="nav-ul disp-flex">
            <a routerLink="home" routerLinkActive="active" class="nav-a">
                <li class="nav-li">home</li>
            </a>
            <a routerLink="news" routerLinkActive="active" class="nav-a">
                <li class="nav-li">news</li>
            </a>
            <a routerLink="about" routerLinkActive="active" class="nav-a">
                <li class="nav-li">about</li>
            </a>
            <a routerLink="contact" routerLinkActive="active" class="nav-a">
                <li class="nav-li">contact</li>
            </a>
        </ul>
    </nav>
</div>