<div class="add">
    <h3>{{errorMessage}}</h3>

    <p class="test">{{testVatiable.name}} {{testVatiable.lastName}}</p>

    <input placeholder="a" type="number" #number1>
    <span>+</span>
    <input placeholder="b" type="number" #number2>
    <button (click)="someOperation('+', number1, number2)">=</button>
    <span class="result">{{result}}</span>
</div>
<div class="sub">
    <input placeholder="a" type="number" #number1>
    <span>-</span>
    <input placeholder="b" type="number" #number2>
    <button (click)="someOperation('-', number1, number2)">=</button>
    <span class="result">{{result2}}</span>
</div>
<div class="mult">
    <input placeholder="a" type="number" #number1>
    <span>*</span>
    <input placeholder="b" type="number" #number2>
    <button (click)="someOperation('*', number1, number2)">=</button>
    <span class="result">{{result3}}</span>
</div>
<div class="div">
    <input placeholder="a" type="number" #number1>
    <span>/</span>
    <input placeholder="b" type="number" #number2>
    <button (click)="someOperation('/', number1, number2)">=</button>
    <span class="result">{{result4}}</span>
</div>