<section class="banner-section">
    <div class="my-container">
        <div class="banner-box pos-relative">
            <img src="../../../assets/images/banner/banner.jpg" alt="banner" class="banner-img wid-100">
                <div class="banner-text-left pos-absolute">
                    <ul class="text-trans-u cw">
                        <li>things aren't always</li>
                        <li>#000000</li>
                        <li>or</li>
                        <li>#ffffff</li>
                    </ul>
                </div>
                <div class="banner-text-right pos-absolute">
                    <img class="disp-block wid-100" src="../../../assets/images/banner/baanner-logo.svg" alt="HTML logo">
                </div>
        </div>
    </div>
</section>